<p>
  Название созданного поста: <%= @post.name %><br>
</p>
<p>
  Содержимое поста: <%= @post.body %><br>
</p>

<p>
  Содержимое поста: <%= @post.category.title %><br>
</p>
<%= link_to 'Все посты', posts_path, class: 'button' %>
<%= link_to 'Редактировать', edit_post_path, class: 'button' %>
<%= link_to 'Новый', new_post_path, class: 'button' %>

<h2>Комментарии:</h2>


  <% @post.comments.each do |post| %>
  <p>
    <%= post.commenter %>:
    <%= post.body %>
  </p>
  <% end %>
<hr>
  <%= form_for([@post, @post.comments.build]) do |f| %>
      <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>

  <%end %>

