<%= form_for @category do |category| %>
<p>
  <%= category.label :title %>:<br>
  <%= category.text_field :title %>
</p>
<p>
  <%= category.label :description %>:<br>
  <%= category.text_field :description %>
</p>
<p>
  <%= category.submit %>
</p
<% end %>
