<p>
  Название категории: <%= @category.title %>
</p>
<p>
  Описание категории: <%= @category.description %>
</p>

<%= link_to 'Все категории', categories_path, class: 'button' %>
<%= link_to 'Редактировать', edit_category_path, class: 'button' %>
<%= link_to 'Новый', new_category_path, class: 'button' %>
<%= link_to 'Удалить', category_path(@category), data: { confirm: 'Вы уверены? '}, method: :delete, class: 'button' %>
